Lib/site-packages/Script_Writer/capture.png
**/capture.png
**.pyc
**.cpython-37.pyc
TEMP/PC_Screenshot.png
capture.png
Last_Templet_Image.png
Init_AutoComplete.py
PC_Screenshot.png
Lib/site-packages/imagescripter/data/deviceApplicationObject
Lib/site-packages/imagescripter/core/Active_Script_Ouput.txt
Lib/site-packages/Script_Writer/Current_Action.txt
Lib/site-packages/imagescripter/core/Current_Image_Cordinates.txt
Lib/site-packages/imagescripter/core/Current_Thresh_Match.txt
Lib/site-packages/imagescripter/core/Last_Target_Image.png
Lib/site-packages/imagescripter/core/Last_Templet_Image_With_Red_Box.png
Lib/site-packages/imagescripter/core/last_x_y.txt
Lib/site-packages/imagescripter/core/run.py
TEMP/ITP8_Screenshot.png
Lib/site-packages/Script_Runner/Data/Active_Script.txt
Lib/site-packages/Script_Writer/Current_Running_Script.txt
Lib/site-packages/imagescripter/core/Total_Runs_Script_Runner.txt
**/Total_Runs_Script_Runner.txt
**/Last_Templet_Image_with_dot.png
